{% extends 'base.html.twig' %}

{% block body %}

<div class="content">
<a class="red" href="{{ path("app_logout")  }}">Se deconnecter</a></div>

<div class="content">
Mes annonces
</div>
{% endblock %}