{% extends 'base.html.twig' %}

{% block body %}

	<div class="content">

		<div class="line">

			<div>{{ ad.title }}</div>

			<div class="line">
				<ion-icon class="icon" name="mail-sharp"></ion-icon>
				Contacter
			</div>

		</div>

		<div class="line">
			<div>
				City
			</div>

			<div class="line">
				<ion-icon class="icon" name="call-sharp"></ion-icon>
				06 06 06 06 06
			</div>
		</div>

		<div class="photos">
			<img src="{{ ad.image }}" alt="">
			<img src="{{ ad.image }}" alt="">
			<img src="{{ ad.image }}" alt="">
		</div>

	</div>
</div>{% endblock %}
