{% extends 'base.html.twig' %}

{% block body %}


<div class="top_card">

	<div class="line">
		{{ ad.title }}
		
		<div class="line">
			<ion-icon class="icon" name="mail-sharp"></ion-icon>
			Contacter
		</div>
		
	</div>
	
	<div class="line">
		<div>
			{{ ad.city }}
		</div>
		
		<div class="line">
			<ion-icon class="icon" name="call-sharp"></ion-icon>
			06 06 06 06 06
		</div>
	</div>
	
	
</div>

<div class="content">
		<div class="line2">
				<img class="photo" src="{{ ad.image }}" alt="">
			</div>

				<div>{{ ad.content }}</div>
		</div>
	</div>
</div>{% endblock %}
