@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    color: rgb(224, 224, 224);
    font-weight: 700;
    text-align: justify;
}

body,
input,
textarea,
button {
    background-color: rgb(29, 34, 41);
    color: rgb(224, 224, 224);
    width: 100%;
    border: none;
}

header,
footer,
.card,
.content {
    background-color: rgb(54, 61, 74);
    background-image: linear-gradient(to bottom, rgb(76, 82, 94), rgb(54, 61, 74));
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

.category {
    padding: 16px 24px 16px 24px;
    color: rgb(224, 224, 224);
    outline: none;
}

.active {
    color: rgb(112, 186, 250);
    background-color: rgba(0, 0, 0, 0.25);
}

.category:hover,
select:hover,
button:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.blue {
    color: rgb(141, 165, 243);
}

.green {
    color: rgb(142, 239, 151);
}

.red {
    color: rgb(252, 127, 127);
}

a {
    color: rgb(112, 186, 250);
    color: rgb(142, 239, 151);
    text-decoration: none;
}

select {
    background-color: rgba(255, 255, 255, 0);
    padding: 16px 24px 16px 24px;
    color: rgb(224, 224, 224);
    border: none;
    font-weight: 700;
}

.padding {
    height: 200px;
    height: 80px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    /* Set a maximum width for the container */
    margin: 0 auto;
    /* Horizontally center the container */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 5px;
    color: rgb(224, 224, 224);
    gap: 5px;
    flex: 1;
}

.icon {
    font-size: 1.5rem;
}

.line {
    display: flex;
    gap: 20px;
    width: 100%;
}

.align-center {
    align-items: center;
}

.content {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}

.column {
    display: flex;
    flex-direction: column;
}

.infos {
    display: flex;
    align-items: center;
}

img {}

.photo {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

textarea,
input,
button {
    resize: none;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 16px 24px 16px 24px;
    border: 2px solid rgba(0, 0, 0, 0);
}

textarea {
    height: 200px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input:focus,
textarea:focus {
    border: 2px solid rgb(112, 186, 250);
    outline: none;
}