@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0px;
    color: rgb(224, 224, 224);
    background-attachment: fixed;
}

body, input {
    background-color:  rgb(29, 34, 41);
}

header, footer, .card {
    background-color: rgb(54, 61, 74);
    border: 1px solid rgb(114, 119, 128);
}

body {
    font-weight: 700;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}




input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
  position: absolute;
}

label {
  padding-left: 1.5em;
  position: relative;
}

label:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #999;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0.1em;
}

input[type="radio"]:checked + label:before {
  background-color: #999;
}
