body {
    margin: 0px;
    background-color:  #21262E;
    color: rgb(224, 224, 224);
}

header, footer {
    background-color: rgba(54, 61, 74, 0.75);
}

body, select, option {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
}

nav {
    display: flex;
    /* background-color: white; */
}

.category, .category_active, .select, .submit_ad {
    padding: 16px 24px 16px 24px;
    color: rgb(255, 255, 255);
}

.category:hover, .submit_ad:hover {
    background-color: rgba(76, 82, 94, 0.5);
    box-shadow: inset 0 0 0 1px rgba(91, 148, 198, 0.5);
}

.category_active {
    color: white;
    background-color: rgba(112, 186, 250, 0.5);
    box-shadow: inset 0 0 0 1px rgba(112, 186, 250, 0.5);
}

.submit_ad {
    color: rgb(112, 186, 250);
}

a {
    color: rgb(112, 186, 250);
    text-decoration: none;
}

select {
    color: rgb(255, 255, 255);
    background-color: rgba(84, 61, 74, 0.5);
    border: none;
}

select option {
    background-color: rgb(84, 61, 74);
}

select option:hover {
    background-color: red;
}

.tmp_rec {
    background-color: red;
    height: 2000px;
    width: 50%;;
}