@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0px;
    color: rgb(224, 224, 224);
    background-attachment: fixed;
}

body, input {
    background-color:  rgb(29, 34, 41);
}

header, footer, .card {
    background-color: rgb(55, 79, 102);
    border: 1px solid rgb(114, 119, 128);

}

body {
    font-weight: 700;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

input::placeholder {
    color: rgb(224, 224, 224);
}

input:focus, select:focus {
    box-shadow: inset 0 0 0 2px rgb(112, 186, 250);
}

nav {
    display: flex;
}

.category {
    padding: 16px 24px 16px 24px;
    color: rgb(224, 224, 224);
    font-weight: 700;
    outline: none;
    background-color: rgb(55, 79, 102);
    transition: background-color 0.5s ease;
}

.category:active {
    background-color: rgb(112, 186, 250);
    animation: changeColor 1s forwards;
}

@keyframes changeColor {
    0% {
        background-color: rgb(112, 186, 250);
    }
    100% {
        background-color: rgb(55, 79, 102);
    }
}

.active {
    color: rgb(112, 186, 250);
    box-shadow: inset 0 0 0 2px rgb(112, 186, 250);
}

.submit_ad {
    color: rgb(142, 239, 151);
}

a {
    color: rgb(112, 186, 250);
    text-decoration: none;
}

select {
    background-color: rgb(55, 79, 102);
    padding: 16px 24px 16px 24px;
    color: rgb(224, 224, 224);
    border: none;
    font-weight: 700;
    outline: none;
}

.padding {
    height: 180px;
    height: 80px;
}

.card {
    transform: scale(1);
    display: flex;
    border-radius: 4px;
    padding: 5px;
}

.animate {
    transform: scale(0.5);
    animation: scaleUp 0.2s forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(224, 224, 224);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    gap: 20px;
    margin: auto;
}

.container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
