body {
    margin: 0px;
    background-color:  #21262E;
    color: rgb(224, 224, 224);
}

header, footer {
    background-color: rgba(54, 61, 74, 0.5);
}

body, select, option {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
}

nav {
    display: flex;
    /* background-color: white; */
}

.category, .category_active, .select {
    padding: 16px 24px 16px 24px;
}

.category:hover {
    background-color: rgba(76, 82, 94, 0.5);
}

a {
    color: rgb(224, 224, 224);
    text-decoration: none;
}

.tmp_rec {
    background-color: red;
    height: 2000px;
    width: 50%;;
}